Repository scalar-labs/helm-charts, pull requests merged in 2023-05, with the labels that each got.

#209 Remove old documents
  docs/how-to-use-customized-configuration.md
Labels: documentation

#211 Set empty value by default in properties file
  charts/scalardb-cluster/values.yaml
Labels: bugfix, scalardb cluster

#210 Add docs for ScalarDB Cluster chart
  docs/configure-custom-values-file.md
  docs/configure-custom-values-scalardb-cluster.md
  docs/configure-custom-values-scalardl-auditor.md
  docs/configure-custom-values-scalardl-ledger.md
  docs/how-to-deploy-scalar-products.md
  docs/how-to-deploy-scalardb-cluster.md
  docs/how-to-deploy-scalardl-auditor.md
  docs/how-to-deploy-scalardl-ledger.md
  docs/mount-files-or-volumes-on-scalar-pods.md
  docs/use-secret-for-credentilas.md
Labels: documentation

#212 Use PostgreSQL in the CI
  .github/cassandra.yaml
  .github/postgresql.yaml
  .github/schema-loading.yaml
  .github/workflows/helm_charts_scalar.yml
  charts/scalardb-graphql/ci/ct-values.yaml
  charts/scalardb-graphql/ci/scalardb-graphql-ct-values.yaml
  charts/scalardb/ci/scalardb-ct-values.yaml
  charts/scalardl-audit/ci/scalardl-auditor-ct-values.yaml
  charts/scalardl/ci/scalardl-ledger-ct-values.yaml
  charts/schema-loading/ci/schema-loader-ct-values.yaml
Labels: improvement

#213 Update CI for ScalarDB Cluster chart to use PostgreSQL
  charts/scalardb-cluster/ci/scalardb-cluster-ct-values.yaml
Labels: improvement, scalardb cluster

#214 Update Grafana Dashboard to support GraphQL metrics
  charts/scalardb-cluster/files/grafana/scalardb_cluster_grafana_dashboard.json
Labels: improvement, scalardb cluster

#215 Use SNAPSHOT versions in main branch
  charts/envoy/Chart.yaml
  charts/envoy/README.md
  charts/envoy/values.yaml
  charts/scalar-manager/Chart.yaml
  charts/scalar-manager/README.md
  charts/scalardb-graphql/Chart.yaml
  charts/scalardb-graphql/README.md
  charts/scalardb-graphql/values.yaml
  charts/scalardb/Chart.lock
  charts/scalardb/Chart.yaml
  charts/scalardb/README.md
  charts/scalardb/values.yaml
  charts/scalardl-audit/Chart.lock
  charts/scalardl-audit/Chart.yaml
  charts/scalardl-audit/README.md
  charts/scalardl-audit/values.yaml
  charts/scalardl/Chart.lock
  charts/scalardl/Chart.yaml
  charts/scalardl/README.md
  charts/scalardl/values.yaml
  charts/schema-loading/Chart.yaml
  charts/schema-loading/README.md
  charts/schema-loading/values.yaml
Labels: enhancement (backward-incompatible)

#216 [scalardb] Rename properties file to run without dockerize
  charts/scalardb/templates/scalardb/configmap.yaml
  charts/scalardb/templates/scalardb/deployment.yaml
Labels: enhancement (backward-incompatible), scalardb server

#217 [scalardl] Rename properties file to run without dockerize
  charts/scalardl/templates/ledger/configmap.yaml
  charts/scalardl/templates/ledger/deployment.yaml
Labels: enhancement (backward-incompatible), scalardl ledger

#218 [scalardl-audit] Rename properties file to run without dockerize
  charts/scalardl-audit/templates/auditor/configmap.yaml
  charts/scalardl-audit/templates/auditor/deployment.yaml
Labels: enhancement (backward-incompatible), scalardl auditor

#219 [schema-loading] Rename properties file to run without dockerize
  charts/schema-loading/templates/batchjob-schema-loading.yaml
  charts/schema-loading/templates/configmap.yaml
Labels: enhancement (backward-incompatible), scalardl schema loader

#220 [envoy] Add readiness and startup probe
  charts/envoy/templates/deployment.yaml
Labels: improvement, scalar envoy

#221 [scalardb] Add readiness and startup probe
  charts/scalardb/templates/scalardb/deployment.yaml
Labels: improvement, scalardb server

#222 [scalardl] Add readiness and startup probe
  charts/scalardl/templates/ledger/deployment.yaml
Labels: improvement, scalardl ledger

#223 [scalardl-audit] Add readiness and startup probe
  charts/scalardl-audit/templates/auditor/deployment.yaml
Labels: improvement, scalardl auditor

#224 [scalar-manager] Add probes for health checking
  charts/scalar-manager/templates/deployment.yaml
Labels: improvement, scalar manager

#225 [scalardb-cluster] Add startup probe in ScalarDB Cluster chart
  charts/scalardb-cluster/templates/scalardb-cluster/deployment.yaml
Labels: improvement, scalardb cluster

#227 Add --helm-extra-set-args flag to ct command in CI
  .github/workflows/helm_charts_scalar.yml
Labels: bugfix

#171 [scalardb-cluster] Add ScalarDB Cluster chart
  .github/workflows/helm_charts_scalar.yml
  charts/scalardb-cluster/.helmignore
  charts/scalardb-cluster/Chart.lock
  charts/scalardb-cluster/Chart.yaml
  charts/scalardb-cluster/README.md
  charts/scalardb-cluster/README.md.gotmpl
  charts/scalardb-cluster/ci/scalardb-cluster-ct-values.yaml
  charts/scalardb-cluster/files/grafana/scalardb_cluster_grafana_dashboard.json
  charts/scalardb-cluster/templates/_helpers.tpl
  charts/scalardb-cluster/templates/scalardb-cluster/configmap.yaml
  charts/scalardb-cluster/templates/scalardb-cluster/deployment.yaml
  charts/scalardb-cluster/templates/scalardb-cluster/prometheusrules.yaml
  charts/scalardb-cluster/templates/scalardb-cluster/role.yaml
  charts/scalardb-cluster/templates/scalardb-cluster/rolebinding.yaml
  charts/scalardb-cluster/templates/scalardb-cluster/service.yaml
  charts/scalardb-cluster/templates/scalardb-cluster/serviceaccount.yaml
  charts/scalardb-cluster/templates/scalardb-cluster/servicemonitor.yaml
  charts/scalardb-cluster/values.schema.json
  charts/scalardb-cluster/values.yaml
  docs/configure-custom-values-file.md
  docs/configure-custom-values-scalardb-cluster.md
  docs/configure-custom-values-scalardl-auditor.md
  docs/configure-custom-values-scalardl-ledger.md
  docs/how-to-deploy-scalar-products.md
  docs/how-to-deploy-scalardb-cluster.md
  docs/how-to-deploy-scalardl-auditor.md
  docs/how-to-deploy-scalardl-ledger.md
  docs/mount-files-or-volumes-on-scalar-pods.md
  docs/use-secret-for-credentilas.md
Labels: enhancement, scalardb cluster

#228 [scalardb-cluster] Add SQL metrics to ScalarDB Cluster dashboard
  charts/scalardb-cluster/files/grafana/scalardb_cluster_grafana_dashboard.json
Labels: improvement, scalardb cluster

#229 Rename file and update link to the file in related docs
  docs/configure-custom-values-scalardb-cluster.md
  docs/configure-custom-values-scalardb.md
  docs/configure-custom-values-scalardl-auditor.md
  docs/configure-custom-values-scalardl-ledger.md
  docs/configure-custom-values-scalardl-schema-loader.md
  docs/use-secret-for-credentials.md
Labels: documentation

#230 Update version of ScalarDB Cluster chart in main branch
  charts/scalardb-cluster/Chart.lock
  charts/scalardb-cluster/Chart.yaml
  charts/scalardb-cluster/README.md
  charts/scalardb-cluster/values.yaml
Labels: improvement
