Repository scalar-labs/helm-charts, pull requests merged in 2024-06, with the labels that each got.

#262 [envoy] Support cert-manager in Scalar Envoy chart
  charts/envoy/README.md
  charts/envoy/templates/certmanager.yaml
  charts/envoy/templates/deployment.yaml
  charts/envoy/values.schema.json
  charts/envoy/values.yaml
Labels: improvement, scalar envoy

#270 Update Kubernetes versions in CI
  .github/workflows/helm_charts_scalar.yml
Labels: improvement

#266 [scalardb-cluster] Support TLS for ServiceMonitor in ScalarDB Cluster chart
  charts/scalardb-cluster/README.md
  charts/scalardb-cluster/templates/scalardb-cluster/servicemonitor.yaml
  charts/scalardb-cluster/values.schema.json
  charts/scalardb-cluster/values.yaml
Labels: improvement, scalardb cluster

#267 [scalardl-ledger] Support TLS for ServiceMonitor in ScalarDL Ledger chart
  charts/scalardl/README.md
  charts/scalardl/templates/ledger/servicemonitor.yaml
  charts/scalardl/values.schema.json
  charts/scalardl/values.yaml
Labels: improvement, scalardl ledger

#268 [scalardl-auditor] Support TLS for ServiceMonitor in ScalarDL Auditor chart
  charts/scalardl-audit/README.md
  charts/scalardl-audit/templates/auditor/servicemonitor.yaml
  charts/scalardl-audit/values.schema.json
  charts/scalardl-audit/values.yaml
Labels: improvement, scalardl auditor

#271 Update supported Kubernetes versions in README
  README.md
Labels: improvement

#254 [scalar-manager] Create the Helm chart for Scalar Manager
  charts/scalar-manager/Chart.yaml
  charts/scalar-manager/README.md
  charts/scalar-manager/templates/_helpers.tpl
  charts/scalar-manager/templates/deployment.yaml
  charts/scalar-manager/templates/role.yaml
  charts/scalar-manager/templates/rolebinding.yaml
  charts/scalar-manager/templates/scalar-manager/clusterrole.yaml
  charts/scalar-manager/templates/scalar-manager/clusterrolebinding.yaml
  charts/scalar-manager/templates/scalar-manager/configmap.yaml
  charts/scalar-manager/templates/scalar-manager/deployment.yaml
  charts/scalar-manager/templates/scalar-manager/service.yaml
  charts/scalar-manager/templates/scalar-manager/serviceaccount.yaml
  charts/scalar-manager/values.schema.json
  charts/scalar-manager/values.yaml
Labels: enhancement, scalar manager
